body {
    background-color: #f0f2f5; /* Cor de fundo neutra, parecida com a do Facebook */
    font-family: 'Arial', sans-serif; /* Fonte mais simples e moderna */
}

.caixa {
    background-color: white;
    width: 380px;
    padding: 40px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #1877f2; /* Cor azul similar ao do Facebook */
    margin-bottom: 20px;
}

input {
    display: block;
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: #1877f2; /* Azul Facebook */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #165eab; /* Cor do botão quando hover */
}

#mensagem {
    margin-top: 20px;
    font-size: 16px;
    color: #ff4d4d;
}

button:active {
    background-color: #1469c0; /* Cor do botão ao ser pressionado */
}
